

    <!-- ************************************ END OF HEADER BANNER ************************************ -->
    <div class="vm-call-to-action">
        <div class="col">
            <div class="container">
                <p style="color:white">{{testangular}}</p>
            </div>
        </div>
    </div>

    <!-- ************************************ END OF CALL TO ACTION ************************************ -->
    <form action="thank-you.html" class="needs-validation" novalidate>
        <div class="row vm-row ">
            <div class="container vm-form-border">
                <div class="col">
                    <h3 class="vm-form-header">Your Donation</h3>
                    <div class="form-group">
                        <input type="text" required class="form-control" id="vm-donation-amount" placeholder="Enter donation amount">
                        <div class="invalid-feedback">
                            Please provide donation amount.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row vm-row">
            <div class="container vm-form-border">
                <div class="row">
                    <div class="col">
                        <h3 class="vm-form-header">Your Details</h3>
                        <div class="form-group">
                            <label>In what capacity are you donating?</label> <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="vm-name-radio-capacity" id="vm-id-radio-individual" value="individual" checked="">
                                <label class="form-check-label" for="vm-id-radio-individual">
                                    Individual
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="vm-name-radio-capacity" id="vm-id-radio-organisation" value="organisation">
                                <label class="form-check-label" for="vm-id-radio-organisation">
                                    Organisation
                                </label>
                            </div>
                        </div>


                    </div>
                </div>
                <section id="vm-id-row-individual">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vm-individual-first-name">First name	*</label>
                                <input type="text" class="form-control" required id="vm-individual-first-name">
                                <div class="invalid-feedback">
                                    Please provide first name.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vm-individual-email">Email *</label>
                                <input type="email" id="vm-individual-email" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide email.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vm-individual-address-1">Address</label>
                                <input type="text" class="form-control" id="vm-individual-address-1" required>
                                <div class="invalid-feedback">
                                    Please provide address 1.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vm-individual-city">City</label>
                                <input type="text" id="vm-individual-city" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide city.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vm-individual-post-code">Postcode</label>
                                <input type="text" class="form-control" id="vm-individual-post-code" required>
                                <div class="invalid-feedback">
                                    Please provide post code.
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<label for="exampleInputEmail1">Ethnicity</label>-->
                            <!--<select class="form-control">-->
                            <!--<option value="Black" >Black</option>-->
                            <!--<option value="White" >White</option>-->
                            <!--<option value="Indian/Asian" >Indian/Asian</option>-->
                            <!--<option value="Coloured" >Coloured</option>-->
                            <!--</select>-->
                            <!--</div>-->



                            <div class="form-group">
                                <label for="vm-individual-phone-number">Phone Number</label>
                                <input type="text" id="vm-individual-phone-number" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide phone number.
                                </div>
                            </div>



                            <div class="form-group">
                                <label>Are you an existing member?</label> <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="vm-radio-existing_member" id="vm-individual-existing-member-yes" value="yes" checked="">
                                    <label class="form-check-label" for="vm-individual-existing-member-yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="vm-radio-existing_member" id="vm-individual-existing-member-no" value="no">
                                    <label class="form-check-label" for="vm-individual-existing-member-no">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vm-individual-last-name">Last name *</label>
                                <input type="text" id="vm-individual-last-name" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide last name.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vm-individual-gender">Gender</label>
                                <select class="form-control" id="vm-individual-gender">
                                    <option>Female</option>
                                    <option>Male</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="vm-individual-address-2">Address 2</label>
                                <input type="text" id="vm-individual-address-2" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide address 2
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-individual-state">State</label>
                                <select id="vm-individual-state" class="form-control" name="vm-name-field-state">
                                    <option value="Gauteng">Gauteng</option>
                                    <option value="Eastern Cape">Eastern Cape</option>
                                    <option value="Free State">Free State</option>
                                    <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                                    <option value="Limpopo">Limpopo</option>
                                    <option value="Mpumalanga">Mpumalanga</option>
                                    <option value="North West">North West</option>
                                    <option value="Northern Cape">Northern Cape</option>
                                    <option value="Western Cape">Western Cape</option>
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="vm-individual-country">Country</label>
                                <select id="vm-individual-country" name="country" class="form-control">
                                   
                                </select>
                            </div>


                            <div class="form-group">
                                <label for="vm-individual-tax-number">Tax Number</label>
                                <input type="text" class="form-control" id="vm-individual-tax-number" required>
                                <div class="invalid-feedback">
                                    Please provide tax number.
                                </div>
                            </div>


                            <!--<div class="form-group">-->
                            <!--<label for="vm-individual-registration-number">Registration number</label>-->
                            <!--<input type="text" id="vm-individual-registration-number" class="form-control" >-->
                            <!--</div>-->


                            <div class="form-group" id="vm-individual-group-member-number">
                                <label for="vm-individual-member-number">Member number: (if selected yes)</label>
                                <input type="text" name="vm-member_number" id="vm-individual-member-number" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide member number.
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section id="vm-id-row-organisation">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vm-organisation-name-of-organisation">Name of Organisation *</label>
                                <input type="text" id="vm-organisation-name-of-organisation" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Name of Organisation.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-contact-person">Organisation Contact Person	*</label>
                                <input type="text" id="vm-organisation-contact-person" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Organisation Contact Person.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-contact-person-email">Organisation Contact Person Email *</label>
                                <input type="email" id="vm-organisation-contact-person-email" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Organisation Contact Person Email.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-email">Organisation Email *</label>
                                <input type="text" id="vm-organisation-email" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Organisation Email.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-address-2">Organisation Address 2 *</label>
                                <input type="text" id="vm-organisation-address-2" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Organisation Address 2.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-state">Organisation State</label>
                                <select class="form-control" id="vm-organisation-state">
                                    <option value="Gauteng">Gauteng</option>
                                    <option value="Eastern Cape">Eastern Cape</option>
                                    <option value="Free State">Free State</option>
                                    <option value="KwaZulu-Natal">KwaZulu-Natal</option>
                                    <option value="Limpopo">Limpopo</option>
                                    <option value="Mpumalanga">Mpumalanga</option>
                                    <option value="North West">North West</option>
                                    <option value="Northern Cape">Northern Cape</option>
                                    <option value="Western Cape">Western Cape</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-country">Organisation Country</label>
                                <select name="country" class="form-control" id="vm-organisation-country">
                                    
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Are you a PPS member?</label> <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="vm-pps-member" id="vm-organisation-pps-member-yes" value="yes" checked="">
                                    <label class="form-check-label" for="vm-organisation-pps-member-yes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="vm-pps-member" id="vm-organisation-pps-member-no" value="no">
                                    <label class="form-check-label" for="vm-organisation-pps-member-no">
                                        No
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="vm-organisation-registration-number">Organisation Registration Number *</label>
                                <input type="text" id="vm-organisation-registration-number" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Organisation Registration Number.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-contact-person-phone-number">Organisation Contact Person Phone Number *</label>
                                <input type="text" id="vm-organisation-contact-person-phone-number" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Organisation Contact Person Phone Number.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-email-18a">Email to where the 18A must be sent*</label>
                                <input type="email" id="vm-organisation-email-18a" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Email to where the 18A must be sent.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-address-1">Organisation Address *</label>
                                <input type="text" id="vm-organisation-address-1" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Organisation Address.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-city">Organisation City *</label>
                                <input type="text" id="vm-organisation-city" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Organisation City.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-post-code">Organisation Postcode *</label>
                                <input type="text" id="vm-organisation-post-code" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Organisation Postcode.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="vm-organisation-phone-number">Organisation Phone Number *</label>
                                <input type="text" id="vm-organisation-phone-number" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide Organisation Phone Number.
                                </div>
                            </div>


                            <div class="form-group" id="">
                                <label for="vm-organisation-pps-member-number">Member number: (if selected yes)</label>
                                <input type="text" id="vm-organisation-pps-member-number" class="form-control" required>
                                <div class="invalid-feedback">
                                    Please provide member number.
                                </div>
                            </div>


                        </div>
                    </div>
                </section>

            </div>
        </div>
        <div class="row vm-row vm-row-submit">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button type="submit" id="vm-submit" class="btn btn-primary">DONATE</button>
                        
                    </div>
                </div>
                <div class="row vm-row-payments">
                    <div class="col">
                        <br>
                        <p>SUPPORTED PAYMENT METHODS</p>
                    </div>
                </div>
                <div class="row vm-row-payments">
                    <div class="col">
                        <img class="img-fluid" src="@Url.Content("~/Assets/img/methods.png")" alt=" SUPPORTED PAYMENT METHODS">
                    </div>
                </div>
            </div>
        </div>
    </form>
 