
@Html.AntiForgeryToken()
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Required meta tags -->
    @*<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @Styles.Render("~/Assets/css/app-r")
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NHT45D6');</script>
    <!-- End Google Tag Manager -->
    <script src="~/Assets/js/app.js" type="text/javascript"></script>
</head>

<body>
    <div ng-controller="homeCtrl">
        <form class="needs-validation" name="donationForm" ng-submit="submitDonation(donationForm)" novalidate>
            <div class="row vm-row ">
                <div class="container vm-form-border">
                    <div class="col">
                        <h3 class="vm-form-header">Select Donator Option</h3>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

