
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="text-align:justify">
    <br />
    <div class="row">
        <div class="col-md-12">
            PPS Foundation (referred to as us or we) is a registered Public Benefit Organisation. Registration No. IT 873/2016(G). We operate the website https://ppsfoundation.pps.co.za/ (the Website).

            These are the Terms and Conditions which govern each use you make of the donation payment services provided through the Website.

            These Terms and Conditions apply separately to each single donation that you make. Except as provided for in section 6, ‘Monthly Donations’, and unless specified by you, they do not form a contract allowing for future or successive transactions to be set up. By confirming on the Website that you wish to make a donation you agree to be bound by these Terms and Conditions for that donation.

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
           <h2>
                (1) The donation services
           </h2>

            We will use your donation at our discretion but within our stated charitable objectives.
            All payments through the Website are to be made by payment card or via EFT.
            Once you confirm to us through the Website that you wish to proceed with your donation, your transaction will be processed through our payment services provider, PayFast. By confirming that you wish to proceed with your donation you authorise PayFast to request funds from your credit or debit card provider.

        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <br />
           <h2>
                (2) Unauthorised card use
           </h2>
            If you become aware of fraudulent use of your card, or if it is lost or stolen, you must notify your card provider.

        </div>
    </div>
    <div class="row">
        
        <div class="col-md-12">
            <br />
           <h2>
                (3) Information from you
           </h2>
            Before we can process a donation, you must provide us with (i) your name, address and email address; and (ii) details of the credit or debit card that you wish to use to fund the donation. We will use this information to process your donation. It is your responsibility to ensure you have provided us with the correct information.

            When you submit your payment details, these details will be transferred to our payment provider, PayFast, and your payment data will be collected and processed securely by them. You should make sure that you are aware of PayFast’s terms and conditions - which are different from our own - to ensure that you are comfortable with how they will process your personal data before you make a donation.

            We will not share your personal details with any other third party other than is set out in our Privacy Policy. Our Privacy Policy forms part of these Donation Payment Terms and Conditions and by agreeing to these Terms and Conditions you are also agreeing to the way we use and protect your personal information in line with our Privacy Policy.

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br /><h2>
                (4) Refund policy
               </h2>
                If you make an error in your donation please contact us either by email at infoppsfoundation@pps.co.za, by phone at +(27)11 644 4200 within 14 days and a full refund will be made to you.

</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br /><h2>(5) Monthly donations</h2>
            These Donation Payment Terms and Conditions will only apply to successive donations made through the Website where you have set up a monthly donation. When you set up a regular donation you will be scheduling a series of donations to be made on the day of the month that you choose until further notice. You agree that these Terms and Conditions will apply to each of the donations in that series.

            By confirming that you wish to proceed with a monthly donation you authorise our payment service provider PayFast to request funds from your credit or debit card on the day of each month that you set.

            To cancel your regular donation please contact us at infoppsfoundation@pps.co.za.



        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br /><h2>(6) General</h2>
            We reserve the right to amend these Donation Payment Terms and Conditions at any time.
            These Donation Payment Terms and Conditions are governed by South African law and are subject to the exclusive jurisdiction of the South African courts.



        </div>
    </div>
</div>


