<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="true" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-BTQ481H;Initial Catalog=BeltonParkLive;Persist Security Info=True;User ID=sa;Password=Test1234;Connect Timeout=300" providerName="System.Data.SqlClient" />
    <add name="BeltonConnection" connectionString="Provider=SQLOLEDB.1; Data Source=DESKTOP-BTQ481H;Initial Catalog=BeltonParkLive;Persist Security Info=True;User ID=sa;Password=Test1234;Connect Timeout=300" providerName="SQLOLEDB.1" />
    <add name="BeltonParkLiveEntities" connectionString="metadata=res://*/Models.BeltonDB.csdl|res://*/Models.BeltonDB.ssdl|res://*/Models.BeltonDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-BTQ481H;initial catalog=BeltonParkLive;persist security info=True;user id=sa;password=Test1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PetroPortEntities" connectionString="metadata=res://*/Models.Petroport.csdl|res://*/Models.Petroport.ssdl|res://*/Models.Petroport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BELTON1\SQLEXPRESS;initial catalog=PetroPort;user id=sa;password=Sa@!23qbcon;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="applicationDB" providerName="System.Data.SqlClient" connectionString="data source=GILBERT-TOSH\SQL2012;initial catalog=PPSDonation;persist security info=True;user id=sa;password=gibsonkabs;MultipleActiveResultSets=True;App=EntityFramework" />
    <add name="PPSDonationEntities" connectionString="metadata=res://*/Core.PPSDatabase.csdl|res://*/Core.PPSDatabase.ssdl|res://*/Core.PPSDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GILBERT-TOSH\SQL2012;initial catalog=PPSDonation;persist security info=True;user id=sa;password=gibsonkabs;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="applicationDB" providerName="System.Data.SqlClient" connectionString="data source=LAPTOP-MKJGUJU1\SQLEXPRESS;initial catalog=PPSDonation;user id=sa;password=vetro@1234;persist security info=True;App=EntityFramework" />
		<add name="PPSDonationEntities" connectionString="metadata=res://*/Core.PPSDatabase.csdl|res://*/Core.PPSDatabase.ssdl|res://*/Core.PPSDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MKJGUJU1\SQLEXPRESS;initial catalog=PPSDonation;user id=sa;password=vetro@1234;persist security info=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="owin:appStartup" value="AdminWebsiteOWin" />
		<add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.disableHandleErrorFilter" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="false" />
		<add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
		<add key="elmah.mvc.allowedRoles" value="*" />
		<add key="elmah.mvc.allowedUsers" value="*" />
		<add key="elmah.mvc.route" value="elmah" />
		<add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
		<add key="companyname" value="PPS Donation Admin" />
		<add key="Environment" value="Test" />
		<add key="ProdPaymentURL" value="https://sandbox.payfast.co.za/eng/process/?" />
		<add key="ProdNotifyURL" value="http://www.localhost:33691/Thanks" />
		<add key="ProdReturnURL" value="http://www.localhost:33691/Thanks" />
		<add key="ProdCancelURL" value="http://www.localhost:33691/Thanks" />
		<add key="ProdValidateURL" value="http://ihook.co.za/payfast/itn.php" />

		<add key="TestPaymentURL" value="https://sandbox.payfast.co.za/eng/process/?" />
		<add key="TestReturnURL" value="http://192.168.8.101:33691/Thankyou" />
		<!--<add key="TestNotifyURL" value="http://192.168.8.101:33691/Donation/Notify" />-->
		<add key="TestNotifyURL" value="http://ihook.co.za/payfast/itn.php" />
		<add key="TestCancelURL" value="http://192.168.8.101:33691/?val=cancelled" />
		<add key="TestValidateURL" value="http://ihook.co.za/payfast/itn.php" />

		<add key="MerchantID" value="10010488" />
		<add key="MerchantKey" value="lrxrrtzoqv2tb" />
		<add key="PaymentProvider" value="Payfast" />
		<add key="EmailConfirmation" value="1" />
		<add key="PaymentAdminEmail" value="gilbertnganduk@gmail.com" />

		<add key="SMTPHost" value="10.100.16.27" />
		<add key="SMTPPort" value="25" />
		<add key="SMTPSecurity" value="TLS" />
		<add key="SMTPUsername" value="PPSDonation@pps.co.za" />
		<add key="SMTPPassword" value="PP5D0n@ti0n" />


		<add key="Passphrase" value="Vetromediasouthafrica2018" />

		<add key="PPSConnect" value="" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime />
		<pages controlRenderingCompatibilityVersion="4.0" />
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
	</system.web>
	<system.webServer>
		<!--<modules>
      <remove name="FormsAuthentication" />
    </modules>-->
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="FormsAuthentication" />
			<remove name="BundleModule" />
			<add name="BundleModule" type="System.Web.Optimization.BundleModule" />
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<validation validateIntegratedModeConfiguration="false" />
	<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<elmah />
</configuration>