@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);



a {
    /* color: #337ab7; */
    color: white !important;
    text-decoration: none !important;
}
a:focus, a:hover {   
    text-decoration: underline !important;
}
td > a {
    color: #666B85 !important;
}
.table-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 52%;
    text-align: center;
}
.table-title h3 {
    color: #333;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    /* text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1); */
    text-transform: uppercase;
}
#loadinglogin > img {
    width: 10% !important;
}

select {
    color: black !important;
}


td, th {
    padding: 1.5px !important;
}
.total, .filterv {
    margin-top: 5px !important;
    border-top: 15px solid #ababab !important;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin-left: auto !important;
    margin-right: auto !important;
}


.filterable {
    margin-top: 15px;
}

    .filterable .panel-heading .pull-right {
        margin-top: -20px;
    }

    .filterable .filters input[disabled] {
        background-color: transparent;
        border: none;
        cursor: auto;
        box-shadow: none;
        padding: 0;
        height: auto;
    }

        .filterable .filters input[disabled]::-webkit-input-placeholder {
            color: #333;
        }

        .filterable .filters input[disabled]::-moz-placeholder {
            color: #333;
        }

        .filterable .filters input[disabled]:-ms-input-placeholder {
            color: #333;
        }

.status {
    color: black;
    margin-bottom: 15px;
}

#loading {
    margin: auto;
    width: 100%;
    text-align: center;
}

    #loading > img {
        height: auto;
        width: 100px;
        margin: auto;
        position: relative;
    }
/*** Table Styles **/

.table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    margin-bottom: 15%;
}

th {
    color: #D5DDE5;
    ;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 14px;
    font-weight: 100;
    padding: 5px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

    th:first-child {
        border-top-left-radius: 3px;
    }

    th:last-child {
        border-top-right-radius: 3px;
        border-right: none;
    }

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

    tr:hover td {
        background: #4E5066;
        color: #FFFFFF;
        border-top: 1px solid #22262e;
        border-bottom: 1px solid #22262e;
    }

    tr:hover textarea {
        color: black;
    }

    tr:first-child {
        border-top: none;
    }

    tr:last-child {
        border-bottom: none;
    }

/*tr:nth-child(odd) td {
  background:#EBEBEB;
}*/

.belton td {
    background: darkgreen !important;
    color: white;
}
.belton td > a{
    color: white !important;
}

.belton button, .coc button {
    background: darkgray !important;
}

.belton textarea, .coc textarea {
    color: black;
}

.coc td {
    background: darkblue !important;
    color: white;
}
.coc td > a {
    color: white !important;
}

tr:nth-child(odd):hover td {
    background: #4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}



td {
    background: #FFFFFF;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

    td:last-child {
        border-right: 0px;
    }

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

#searchdiv {
    padding: 19px;
    padding-left: 10px;
}

@media print {
    body {
        background-color: #A6B9CC !important;
        font-family: "Roboto", helvetica, arial, sans-serif !important;
        font-size: 9px !important;
        font-weight: 400;
        text-rendering: optimizeLegibility;
    }

    .table-fill {
        background: white;
        border-radius: 3px;
        border-collapse: collapse;
        height: 320px;
        margin: auto;
        max-width: 400px;
        padding: 5px;
        width: 80% !important;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        animation: float 5s infinite;
    }
}

/* #####################################################################
   #
   #   Project       : Modal Login with jQuery Effects
   #   Author        : Rodrigo Amarante (rodrigockamarante)
   #   Version       : 1.0
   #   Created       : 07/28/2015
   #   Last Change   : 08/02/2015
   #
   ##################################################################### */

@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: 'Roboto', sans-serif;
}

#login-modal .modal-dialog {
    width: 60%;
}

#login-modal input[type=text], input[type=password] {
    margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
    border: 1px solid #dadfe1;
    height: 30px;
    line-height: 28px;
    transition: all ease-in-out 500ms;
}

    #div-login-msg.success,
    #div-lost-msg.success,
    #div-register-msg.success {
        border: 1px solid #68c3a3;
        background-color: #c8f7c5;
    }

    #div-login-msg.error,
    #div-lost-msg.error,
    #div-register-msg.error {
        border: 1px solid #eb575b;
        background-color: #ffcad1;
    }

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
    width: 30px;
    float: left;
    line-height: 28px;
    text-align: center;
    background-color: #dadfe1;
    margin-right: 5px;
    transition: all ease-in-out 500ms;
}

    #icon-login-msg.success,
    #icon-lost-msg.success,
    #icon-register-msg.success {
        background-color: #68c3a3 !important;
    }

    #icon-login-msg.error,
    #icon-lost-msg.error,
    #icon-register-msg.error {
        background-color: #eb575b !important;
    }

#img_logo {
    max-height: 150px;
    max-width: 150px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}



    .btn:focus,
    .btn:active:focus,
    .btn.active:focus,
    .btn.focus,
    .btn:active.focus,
    .btn.active.focus {
        outline: none;
    }





    .btn-link:hover, .btn-link:focus {
        color: #2c3e50;
        text-decoration: none;
    }

.glyphicon {
    top: 0px;
}

.form-control {
    border-radius: 0px;
}
.fullwidth{
    width:100% !important;
}


select[multiple]{
    height: 300px !important;
}

