<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
		<!--<add name="applicationDB" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Vetro-20140528085212.mdf;Initial Catalog=aspnet-Vetro-20140528085212;Integrated Security=True"
            providerName="System.Data.SqlClient" />
            <add name="applicationDB" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=PPSDonation;Integrated Security=true" />
		    <add name="applicationDB" providerName="System.Data.SqlClient" connectionString="data source=LAPTOP-MKJGUJU1\SQLEXPRESS;initial catalog=PPSDonation;user id=sa;password=vetro@1234;persist security info=True;App=EntityFramework" />
		<add name="applicationDB" providerName="System.Data.SqlClient" connectionString="data source=LAPTOP-MKJGUJU1\SQLEXPRESS;initial catalog=PPSDonation;Integrated Security=True;App=EntityFramework" />-->
		<add name="PPSDonationEntities" connectionString="metadata=res://*/Core.PPSDatabase.csdl|res://*/Core.PPSDatabase.ssdl|res://*/Core.PPSDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-MKJGUJU1\SQLEXPRESS;initial catalog=PPSDonation;user id=sa;password=vetro@1234;persist security info=True;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	
	</connectionStrings>
	<appSettings>
		<add key="Environment" value="Test" />
		<add key="ProdPaymentURL" value="https://sandbox.payfast.co.za/eng/process/?" />
		<add key="ProdNotifyURL" value="https://ppsfoundationdev.pps.co.za/Thankyou" />
        <add key="ProdReturnURL" value="https://ppsfoundationdev.pps.co.za/Thankyou" />
        <add key="ProdCancelURL" value="https://ppsfoundationdev.pps.co.za/Thankyou" />
		<add key="ProdValidateURL" value="http://ihook.co.za/payfast/itn.php" />
		
		

		<add key="TestPaymentURL" value="https://sandbox.payfast.co.za/eng/process/?" />
		<add key="TestReturnURL" value="https://ppsfoundationdev.pps.co.za/Thankyou" />
    <!--<add key="TestNotifyURL" value="https://ppsfoundationdev.pps.co.za/api/Donation/Notify" />-->
        <add key="TestNotifyURL" value="https://ppsfoundationdev.pps.co.za/api/Donation/Notify" />
        <add key="TestCancelURL" value="https://ppsfoundationdev.pps.co.za/?val=cancelled" />
		
		<add key="TestValidateURL" value="http://ihook.co.za/payfast/itn.php" />

		<!--<add key="MerchantID" value="10010488" />-->
		<add key="MerchantID" value="10021261"/>
		<add key="MerchantKey" value="mf81k1slsq1et"/>
		<!--<add key="MerchantKey" value="lrxrrtzoqv2tb" />-->
		<add key="PaymentProvider" value="Payfast" />
		<add key="EmailConfirmation" value="1" />
		<add key="PaymentAdminEmail" value="gilbertnganduk@gmail.com" />

		<add key="SMTPHost" value="10.100.16.27" />
		<add key="SMTPPort" value="25" />
		<add key="SMTPSecurity" value="TLS" />
		<add key="SMTPUsername" value="PPSDonation@pps.co.za" />
		<add key="SMTPPassword" value="PP5D0n@ti0n" />


		<add key="Passphrase" value="Vetromediasouthafrica2018" />
		<add key="owin:appStartup" value="Vetro.Startup" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
	<system.web>

		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime targetFramework="4.6" />
	</system.web>

	<system.webServer>
		<urlCompression doStaticCompression="true" doDynamicCompression="true" />
		<modules>
			<remove name="FormsAuthenticationModule" />
		</modules>


		
	<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
	<location path="CertificateTemplate">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
			<httpCookies httpOnlyCookies="true" requireSSL="true"/>
		</system.web>
	</location>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v12.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>