
@{
    ViewBag.Title = "Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Required meta tags -->
    @*<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">*@

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/Assets/css/app.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">


    @Styles.Render("~/Assets/css/app-r")

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">


    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NHT45D6');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <div class="row">
        <br />
        <br />
        <div class="container">
            <div class="col-md-12">
                <div style="height:200px;">
                    <br/>
                    <br/>
                    <h3 style="color:red;">Your email has been sent to : infoppsfoundation@pps.co.za</h3>
                </div>
            </div>
        </div>
    </div>
</body>
